.search{
    height:450px;
    width:100%;
    background-image:url('https://i.ibb.co/NVQxPB6/food-Wallpaper.png');
    background-repeat:no-repeat;
    background-size: 100% 450px;
}

#logo{
    height:150px;
    width:150px;
    background-color: white;
    border-radius:50%;
    margin-left: 44%;
    margin-top: 1%;
    position:absolute;

}

#logo > span{
    position:absolute;
    margin-left: 20%;
    margin-top: 10%;
    font-weight: bold;
    font-size:90px;
    color:red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#heading{
    color:white;
    font-size:45px;
    margin-top:14%;
    margin-left: 34%;
    position:absolute;
}

#dropdown{
    width:50%;
    height:60px;
    margin-top:22%;
    margin-left: 28%;
    position:absolute;
}

select{
    height:60px;
    width:40%
}

#restaurant{
    width:50%
}